/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
     background-color: #E5E5E5;
 }

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    color: #ec407a;
}

.nav-wrapper .nav-title {
    margin-top: -27px;
}

.nav-wrapper a {
    color: #311b92;
}

.nav-wrapper img {
    margin-top: 6px;
}

.like-cat-img img {
    width: 50px;
    height: 50px;
}

.logo img {
    width: 70px;
    
}

.main {
    margin: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main img {
    margin: 50px;
    height: 250px;
}